<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="log/base.xml"/>
    <include resource="log/dlz.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_FILE"/>
        <appender-ref ref="FILE_ERROR"/>
    </root>
</configuration>
